<template>
  <div class="find-hotel">
    <div class="app-container">
      <div ref="mapView" id="mapDiv" style=""></div>
      <div class="hotels-block">
        <div>
          <!-- <select v-model="type">

                            <option value="bakery">Hotels</option>
          </select>-->
        </div>

        <button @click="getNearbyHotel" class="btn-search">
          <span class="loader" v-if="loader">
            <span class="loader-box"></span>
            <span class="loader-box"></span>
            <span class="loader-box"></span>
          </span>
          {{loader ? '' : ' find hotel'}}
        </button>
        <div class="slick-block">
          <slick :options="slickOptions" v-if="hotelsFound.length > 0">
            <div
              class="hotel-block"
              style="margin-right:15px"
              v-for="hotel in hotelsFound"
              :key="hotel.id"
            >
              <div
                :style="{ backgroundImage: 'url('+imgUrl+ hotel.imageLink + ')' }"
                style="min-height:80px; background-size:contain;"
              ></div>
              <div style="padding:10px; min-height:70px; ">
                <p>
                  <b>{{hotel.name.slice(0,15)}}</b>
                </p>
                <p>{{hotel.vicinity.slice(0,8)}}</p>

                <button class="book-now-btn">Book</button>
              </div>
            </div>
          </slick>
        </div>

        <div class="hotel-cover">
          <div class="hotel-block" v-for="hotel in hotelsFound" :key="hotel.id">
            <div style="overflow:hidden">
              <img :src="imgUrl+`${hotel.imageLink}`" height="100" />
            </div>
            <div style="padding:10px">
              <h5>{{hotel.name}}</h5>
              <p>{{hotel.vicinity}}</p>

              <button>Book</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>



<script>
import Slick from "vue-slick";
import axios from "axios";
export default {
  data() {
    return {
      slickOptions: {
        slidesToShow: 2,
        slidesToScroll: 1,
        // autoplay: true,
        // autoplaySpeed: 2000,
        //dots: true,
        infinite: false,
        variableWidth: true,
        prevArrow: false,
        nextArrow: false
      },
      latitude: 0,
      longitude: 0,
      loader: false,
      type: "hotel",
      hotelsFound: [],
      imgUrl:
        "https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference="
    };
  },
  components: {
    Slick
  },
  computed: {},
  methods: {

      //method to get the user's location from the browser
    getUserLocation() {
      navigator.geolocation.getCurrentPosition(position => {
        this.latitude = position.coords.latitude;
        this.longitude = position.coords.longitude;

      });
    },

    getNearbyHotel() {
      this.loader = true;
      let vm = this;
      let googleUrl = `https://cors-anywhere.herokuapp.com/https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=${
        this.latitude
      },${this.longitude}&type=${this.type}&radius=${10 *
        1000}&sensor=true&key=AIzaSyBVWo5kMXstLM3xdbMD03DFmQM-2rqYnyk`;
      axios
        .get(googleUrl)

        .then(response => {

          vm.hotelsFound = response.data.results;
         

          vm.feedHotelsIntoMap();
        })

        .catch(error => {
          vm.loader = false;

        });
    },


//Method that feeds the hotels gotten from the get request into google maps
    feedHotelsIntoMap() {
      let map = new google.maps.Map(this.$refs["mapView"], {
        center: new google.maps.LatLng(this.latitude, this.longitude),
        zoom: 14,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });

      let hotelInfoPopup = new google.maps.InfoWindow();


//Loop true the hotels array to get the latitude and longitude of each hotel
      this.hotelsFound.forEach(hotel => {
        let lat = hotel.geometry.location.lat;
        let long = hotel.geometry.location.lng;

        hotel.vicinity = hotel.vicinity.slice(0, 16);
        hotel.imageLink =
          hotel.photos[0].photo_reference +
          "&key=AIzaSyBVWo5kMXstLM3xdbMD03DFmQM-2rqYnyk";
        let marker = new google.maps.Marker({
          position: new google.maps.LatLng(lat, long),
          map: map
        });


//Add an info pop up div to map when the marker is clicked
        google.maps.event.addListener(marker, "click", () => {
          hotelInfoPopup.setContent(
            `<div>${hotel.name}</div><p>${hotel.vicinity}</p>`
          );
          hotelInfoPopup.open(map, marker);
        });
      });
      this.loader = false;
    }
  },
  mounted() {
    this.getUserLocation();


//A default Google map is instantiated on page load
    let mapOptions = {
      center: new google.maps.LatLng(6.429172599999999, 3.4333299999999998),
      zoom: 12,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    new google.maps.Map(document.getElementById("mapDiv"), mapOptions);
  }
};
</script>

<style lang="scss">
.hotel-cover {
  display: flex;
  min-height: 100px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .hotels-block {
    flex-basis: 40%;
  }
}
#mapDiv {
  height: 100%;
  margin: 0;
  min-height:200px;
   @media (max-width: 760px) {
  min-height:100px;
  }
}

.hotels-block {
  padding: 10px 100px;
  @media (max-width: 760px) {
    padding: 10px 10px;
  }
}

.slick-block {
  display: none;
  @media (max-width: 760px) {
    display: block;
  }
}
.hotel-block {
  min-height: 130px;
  margin-top: 30px;
  border-color: #f4f4f4;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  max-width: 200px;
  min-width: 200px;
  background-color: hsla(0, 0%, 98%, 0.7);
  border-radius: 5px;
  border: 1px solid #f2f2f2;
  transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955),
    box-shadow 0.3s ease;
  @media (max-width: 760px) {
    max-width: 150px;
    min-width: 150px;
  }
  @media (max-width: 760px) {
    display: none;
  }
}

.hotel-block:hover {
  transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955),
    box-shadow 0.3s ease,
    -webkit-transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.btn-search {
  color: #fff;
  background-color: #005cff;
  border-radius: 3px;
  border: #005cff;
  padding: 10px 10px;
  min-width: 45px;
  cursor: pointer;
}
.book-now-btn {
  color: #fff;
  background-color: #fdc23c;
    min-width:100px;
    margin-top: 10px;
  border: #fdc23c;
  padding: 10px 10px;

  cursor: pointer;
}
.loader {
  height: 8px;
  width: 36px; /* (6 * <margin: 2px>) + (3 * <width: 8px>) */
}

.loader-box {
  display: inline-block;
  height: 8px;
  width: 8px;
  margin: 0px 2px;
  background-color: rgb(0, 146, 255);
  animation-name: fadeOutIn;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.loader-box:nth-child(1) {
  animation-delay: 250ms;
} /* (1/2) * <animation-duration: 500ms */
.loader-box:nth-child(2) {
  animation-delay: 500ms;
} /* (2/2) * <animation-duration: 500ms */
.loader-box:nth-child(3) {
  animation-delay: 750ms;
} /* (3/2) * <animation-duration: 500ms */

@keyframes fadeOutIn {
  0% {
    background-color: rgba(0, 146, 255, 1);
  }
  100% {
    background-color: rgba(0, 146, 255, 0);
  }
}
</style>