<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Find Hotels in your area</router-link>
    </div>

    <router-view/>
     
  </div>
</template>

<style lang="scss">

html, body{

  height: 100%;
  margin:0; 
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
p{

  font-size: 12px;
}

h5, p{
  padding:0;
  margin:0;
}
#nav {
  padding: 20px;
  background:#00aeff;
  a {
    font-weight: bold;
    color: #fff;

    &.router-link-exact-active {
      color: #fff;
      text-decoration:none;
    }
  }
}
</style>
